@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  width: 100%;
  background-color: #414141;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}
body a {
  color: #ffffff;
}

.wrap {
  margin: 0 auto;
  max-width: 1920px;
  background-color: #000000;
}

.hidden {
  display: none !important;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.block-hidden {
  opacity: 0;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.header::after {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, rgba(22, 21, 22, 0.9) -7.87%, rgba(22, 21, 22, 0.6) 100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.header__container {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 60px;
  z-index: 3;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  padding: 40px 0 0 0;
}
.header__title {
  padding: 150px 0 0 0;
  text-align: center;
  font-size: 120px;
  font-weight: 500;
  font-style: normal;
}
.header__subtitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
}
.header__social {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  bottom: 60px;
  right: 60px;
}
.header__social-telegram {
  position: relative;
}
.header__social-telegram::before {
  content: "";
  position: absolute;
  top: -12px;
  right: -12px;
  display: block;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #34AADF;
  z-index: -1;
}
.header__social-telegram:hover {
  opacity: 0.7;
  transition: 0.25s ease-in;
}
.header__social-whatsapp {
  position: relative;
}
.header__social-whatsapp::before {
  content: "";
  position: absolute;
  top: -12px;
  right: -12px;
  display: block;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #43D854;
  z-index: -1;
}
.header__social-whatsapp:hover {
  opacity: 0.7;
  transition: 0.25s ease-in;
}
.header__social-telegram {
  margin: 0 40px 0 0;
}

.menu__list-left {
  display: flex;
  align-items: center;
  gap: 0 50px;
}
.menu__list-right {
  display: flex;
  gap: 0 50px;
}
.menu__item-left-burger {
  padding: 10px 0 0 0;
}
.menu__item-link:hover {
  color: #33B7BC;
  transition: 0.2s ease-in;
}
.menu__item-link-img {
  position: relative;
}
.menu__item-link-img:hover {
  opacity: 0.7;
  transition: 0.2s ease-in;
}
.menu__item-burger {
  display: none;
}

@media (max-width: 1280px) {
  .header__menu {
    justify-content: space-between;
  }
  .header__container {
    padding: 0 20px;
  }
  .header__logo {
    max-width: 90px;
  }
  .header__title {
    font-size: 80px;
    font-weight: 500;
    font-style: normal;
  }
  .header__subtitle {
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
  }
  .menu__list-left {
    gap: 0 24px;
  }
  .menu__list-right {
    gap: 0 24px;
  }
  .menu__item-link-img {
    display: none;
  }
}
@media (max-width: 680px) {
  .header__container {
    position: relative;
  }
  .header__menu {
    justify-content: space-between;
  }
  .menu {
    justify-content: center;
  }
  .menu__list-left {
    display: none;
  }
  .menu__list-right {
    display: none;
  }
  .menu__item-burger {
    display: block;
  }
}
.most-popular {
  padding: 180px 0 0 0;
  margin: 0 0 260px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.most-popular__info {
  max-width: 700px;
  margin: 0 60px;
}
.most-popular__info-search {
  background: linear-gradient(90.75deg, #1C1C1C 0.65%, rgba(27, 27, 27, 0.4) 107.06%);
  border-radius: 10px;
  position: relative;
}
.most-popular__info-search_input {
  width: 100%;
  height: 90px;
  padding: 0 0 0 30px;
  color: #707070;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
}
.most-popular__info-search_button {
  position: absolute;
  top: 30px;
  right: 30px;
}
.most-popular__info-text {
  padding: 50px 0 0 0;
}
.most-popular__info-text-item_link {
  color: #707070;
}
.most-popular__info-text-item_link:hover {
  color: #33B7BC;
  transition: 0.25s ease-in;
}
.most-popular__info-text-item_title {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  padding: 0 0 10px 0;
}
.most-popular__info-text-item_subtitle {
  margin: 0 0 54px 0;
}
.most-popular__title {
  font-size: 70px;
  font-weight: 500;
  font-style: normal;
  padding: 0 0 50px 0;
}
.most-popular__img {
  position: relative;
}
.most-popular__img-img {
  border-radius: 0 20px 20px 0;
}
.most-popular__img-description {
  position: absolute;
  bottom: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
}
.most-popular__img-description-text {
  font-size: 46px;
  font-weight: 700;
  font-style: normal;
}
.most-popular__img-description-more .price {
  font-size: 50px;
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 1280px) {
  .most-popular {
    display: block;
  }
  .most-popular__info-search {
    max-width: 570px;
  }
  .most-popular__img-description {
    padding: 0 30px;
  }
  .most-popular__img-description-text {
    font-size: 38px;
    font-weight: 700;
    font-style: normal;
  }
  .most-popular__img-description-more .price {
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
  }
  .most-popular__img-img {
    width: 100%;
  }
}
@media (max-width: 680px) {
  .most-popular {
    padding: 100px 0 0 0;
    margin: 0 0 120px 0;
  }
  .most-popular__info {
    margin: 0 30px;
  }
  .most-popular__title {
    font-size: 42px;
    font-weight: 700;
    font-style: normal;
  }
  .most-popular__img-description {
    padding: 0 20px;
    bottom: 30px;
  }
  .most-popular__img-description-text {
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
  }
  .most-popular__img-description-more .price {
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
  }
}
.offers {
  text-align: center;
  padding: 0 0 260px 0;
}
.offers__nav {
  margin: 0 0 50px 0;
}
.offers__nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.offers__nav-item-link {
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  color: #414141;
}
.offers__nav-item-link:hover {
  position: relative;
  color: #ffffff;
  transition: 0.2s ease-in;
  z-index: 9;
}
.offers__nav-item-link:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 4px;
  border-bottom: 10px solid #33B7BC;
  transition: 0.2s ease-in;
  transform: skew(-45deg);
  z-index: -1;
}
.offers__pictures {
  margin: 0 0 80px 0;
}
.offers__pictures-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.offers__pictures-item {
  position: relative;
  max-width: 955px;
}
.offers__pictures-item-img {
  width: 100%;
  border-radius: 10px;
  z-index: -1;
}
.offers__pictures-item-block {
  position: absolute;
  bottom: 50px;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 9;
}
.offers__pictures-item_title {
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
}
.offers__pictures-item_link {
  text-transform: uppercase;
  border: 2px solid #33B7BC;
  padding: 18px 26px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
}
.offers__pictures-item_link:hover {
  background: #33B7BC;
  transition: 0.3s ease-in;
}
.offers-more {
  background: #33B7BC;
  border: 1px solid #33B7BC;
  padding: 20px 106px;
  text-transform: uppercase;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
}
.offers-more:hover {
  background: transparent;
  border: 1px solid #33B7BC;
  transition: 0.3s ease-in;
}

@media (max-width: 1280px) {
  .offers__nav-list {
    padding: 0 20px;
    gap: 60px;
  }
  .offers__nav-item-link {
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
  }
  .offers__pictures-item_title {
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
  }
  .offers__pictures-item-block {
    bottom: 30px;
    padding: 0 40px;
  }
}
@media (max-width: 680px) {
  .offers__nav {
    display: none;
  }
  .offers__pictures-item_title {
    font-size: 26px;
    font-weight: 700;
    font-style: normal;
  }
  .offers__pictures-item-block {
    bottom: 10px;
    padding: 0 30px;
  }
  .offers__pictures-item_link {
    padding: 12px 20px;
  }
  .offers-more {
    padding: 20px 80px;
  }
}
.about-us {
  position: relative;
  padding: 0 0 260px 0;
  overflow-x: hidden;
}
.about-us__title {
  font-size: 160px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  padding: 0 0 146px 0;
  position: relative;
}
.about-us__title::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 170px;
  z-index: 9;
  width: 314px;
  height: 314px;
  background: #34AADF;
  filter: blur(310px);
  z-index: 9;
}
.about-us__features {
  max-width: 1362px;
  margin: 0 auto;
  padding: 0 20px 150px 20px;
}
.about-us__features-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.about-us__features-iteam {
  max-width: 396px;
}
.about-us__features-subtitle {
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
}
.about-us__features-subtitle-number {
  font-size: 130px;
  font-weight: 700;
  font-style: normal;
  color: transparent;
  -webkit-text-stroke: 3px #33B7BC;
}
.about-us__features-description {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: #DBDBDB;
}
.about-us__subtitle {
  font-size: 54px;
  font-weight: 800;
  font-style: italic;
  text-align: center;
  margin: 0 0 30px 0;
  position: relative;
}
.about-us__subtitle::before {
  content: "";
  position: absolute;
  background: url(../img/icons/start-mark.png);
  top: -44px;
  left: -103px;
  width: 100px;
  height: 88px;
}
.about-us__subtitle::after {
  content: "";
  position: absolute;
  background: url(../img/icons/end-mark.png);
  bottom: -44px;
  right: -103px;
  width: 100px;
  height: 88px;
}
.about-us__subtitle-blur {
  position: absolute;
  left: 482px;
  top: 580px;
  width: 490px;
  height: 490px;
  background: rgba(51, 183, 188, 0.3);
  transform: rotate(-10.5deg);
  filter: blur(160px);
}
.about-us__author {
  margin: 0 auto;
  max-width: 1300px;
  text-align: right;
  padding: 0 20px;
}
.about-us__author-name {
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  padding: 0 50px 0 0;
}
.about-us__author-position {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  padding: 0 50px 0 0;
  color: #707070;
}
.about-us__img {
  margin: 100px 0 0 0;
}

@media (max-width: 1280px) {
  .about-us {
    padding: 0 0 160px 0;
  }
  .about-us__title {
    font-size: 100px;
    font-weight: 700;
    font-style: normal;
    padding: 0 0 110px 0;
  }
  .about-us__subtitle {
    font-size: 44px;
    font-weight: 800;
    font-style: normal;
  }
  .about-us__features-subtitle {
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
  }
  .about-us__features-subtitle-number {
    font-size: 76px;
    font-weight: 700;
    font-style: normal;
  }
  .about-us__author-name {
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
  }
  .about-us__author-position {
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
  }
}
@media (max-width: 680px) {
  .about-us {
    padding: 0 0 120px 0;
  }
  .about-us__title {
    font-size: 72px;
    font-weight: 700;
    font-style: normal;
    padding: 0 0 60px 0;
  }
  .about-us__subtitle {
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
  }
  .about-us__features {
    padding: 0 20px 100px 20px;
  }
  .about-us__features-list {
    flex-direction: column;
    gap: 44px;
  }
  .about-us__features-description {
    text-align: center;
  }
  .about-us__features-subtitle {
    text-align: center;
  }
  .about-us__features-subtitle-number {
    font-size: 76px;
    font-weight: 700;
    font-style: normal;
  }
  .about-us__author-name {
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
  }
  .about-us__author-position {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
  }
}
.reviews {
  width: 100%;
  padding: 0 0 260px 0;
}
.reviews__title {
  font-size: 100px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  margin: 0 0 120px 0;
}
.reviews__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.reviews__item:hover {
  cursor: pointer;
  opacity: 0.7;
  position: relative;
  transition: 0.2s ease-in;
}
.reviews__item:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 88px;
  height: 88px;
  background-image: url(../img/icons/video.png);
  background-repeat: no-repeat;
}

@media (max-width: 1280px) {
  .reviews {
    padding: 0 0 160px 0;
  }
  .reviews__title {
    font-size: 84px;
    font-weight: 500;
    font-style: normal;
    margin: 0 0 70px 0;
  }
}
@media (max-width: 680px) {
  .reviews {
    padding: 0 0 100px 0;
  }
  .reviews__title {
    font-size: 62px;
    font-weight: 500;
    font-style: normal;
    margin: 0 0 50px 0;
  }
  .reviews__list {
    flex-direction: column;
    gap: 22px;
  }
}
.advantages {
  padding: 0 0 260px 0;
}
.advantages__title {
  font-size: 100px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  margin: 0 0 120px 0;
}
.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.advantages__item {
  position: relative;
}
.advantages__item-link:hover {
  opacity: 1;
  transition: 0.2s ease-in;
}
.advantages__item-img {
  filter: brightness(50%);
  opacity: 0.8;
}
.advantages__item-img:hover {
  filter: brightness(100%);
  opacity: 1;
  transition: 0.2s ease-in;
}
.advantages__item-text {
  position: absolute;
  bottom: 50px;
  left: 60px;
  right: 60px;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 1280px) {
  .advantages {
    padding: 0 20px 160px 20px;
  }
  .advantages__title {
    font-size: 80px;
    font-weight: 500;
    font-style: normal;
    margin: 0 0 60px 0;
  }
  .advantages__list {
    justify-content: center;
  }
  .advantages__item-img {
    width: 980px;
  }
}
@media (max-width: 680px) {
  .advantages {
    padding: 0 0 100px 0;
  }
  .advantages__title {
    font-size: 48px;
    font-weight: 500;
    font-style: normal;
    margin: 0 0 30px 0;
  }
  .advantages__item-text {
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    left: 40px;
    bottom: 30px;
  }
}
.ask {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 50px;
  padding: 0 0 250px 0;
}
.ask__block-form {
  flex-grow: 1;
  max-width: 700px;
  margin: 0 60px 0 0;
}
.ask__title {
  font-size: 70px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  margin: 0 0 80px 0;
}
.ask__form {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
}
.ask__form-input {
  width: 100%;
  height: 90px;
  padding: 0 0 0 30px;
  margin: 0 0 30px 0;
  background: linear-gradient(90.75deg, #1C1C1C 0.65%, rgba(27, 27, 27, 0.4) 107.06%);
  border: 1px solid #414141;
  border-radius: 10px;
}
.ask__form-input_field {
  padding: 36px 0 0 30px;
  height: auto;
  resize: none;
}
.ask__form-btn {
  align-self: flex-start;
  margin: 7px 0 0 0;
  padding: 30px 65px;
  color: #ffffff;
  border: 2px solid #33B7BC;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
}
.ask__form-btn:hover {
  background-color: #33B7BC;
  transition: 0.2s ease-in;
}
.ask__map {
  flex-grow: 9;
}

@media (max-width: 1280px) {
  .ask {
    flex-direction: column;
    padding: 0 0 120px 0;
  }
  .ask__title {
    font-size: 56px;
    font-weight: 700;
    font-style: normal;
    margin: 0 0 60px 0;
  }
  .ask__block-form {
    margin: 0 auto;
    width: 600px;
  }
  .ask__form-btn {
    align-self: center;
  }
}
@media (max-width: 680px) {
  .ask {
    padding: 0 0 80px 0;
  }
  .ask__title {
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    margin: 0 0 40px 0;
  }
  .ask__block-form {
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;
  }
  .ask__form-input {
    height: 70px;
    padding: 0 0 0 20px;
  }
  .ask__form-input_field {
    padding: 20px 0 0 20px;
    height: auto;
    resize: none;
  }
  .ask__form-btn {
    align-self: center;
    padding: 25px 45px;
  }
}
.discount__container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 103px;
}
.discount__wrap {
  max-width: 1170px;
  margin: 0 auto;
  background-color: #0E0E0E;
  box-shadow: 0px 14px 44px #0E0E0E, inset 0px 10px 62px #322B32;
  border-radius: 129px 20px 20px 20px;
  position: relative;
}
.discount__wrap::before {
  content: "";
  position: absolute;
  background: #2B2B2B;
  background: url(../img/icons/orings-left.svg);
  background-repeat: no-repeat;
  opacity: 0.15;
  width: 390px;
  height: 397px;
  top: 120px;
  left: 15px;
}
.discount__wrap::after {
  content: "";
  position: absolute;
  background: #2B2B2B;
  background: url(../img/icons/orings-right.svg);
  background-repeat: no-repeat;
  opacity: 0.15;
  width: 284px;
  height: 290px;
  top: 0;
  right: -78px;
}
.discount__title {
  font-size: 46px;
  font-weight: 400;
  font-style: normal;
  padding: 80px 0 25px 0;
  text-align: center;
}
.discount__text {
  display: block;
  margin: 0 auto;
  padding: 0 0 54px 0;
  max-width: 540px;
  text-align: center;
}
.discount__form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 0 78px 0;
}
.discount__form-input {
  max-width: 425px;
  width: 100%;
  height: 68px;
  background: #2B282B;
  border-radius: 10px;
  padding: 0 0 0 30px;
  border: 1px solid #414141;
}
.discount__form-input::-moz-placeholder {
  background: url(../img/icons/discount-mail.svg);
  background-repeat: no-repeat;
}
.discount__form-input::placeholder {
  background: url(../img/icons/discount-mail.svg);
  background-repeat: no-repeat;
}
.discount__form-btn {
  padding: 25px 57px;
  background-color: #33B7BC;
  border-radius: 10px;
  text-transform: uppercase;
  color: #ffffff;
}
.discount__form-btn:hover {
  opacity: 0.5;
  transition: 0.2s ease-in;
}
.discount__form::after {
  content: "";
  background: url(../img/icons/discount-stars.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 155px;
  height: 166px;
  top: 300px;
  right: -100px;
}

@media (max-width: 1280px) {
  .discount__wrap {
    padding: 0 20px;
  }
  .discount__wrap::before {
    top: 178px;
  }
  .discount__form {
    flex-direction: column;
    gap: 32px;
    padding: 0 0 48px 0;
  }
  .discount__form::after {
    display: none;
  }
  .discount__title {
    font-size: 34px;
    font-weight: 400;
    font-style: normal;
  }
}
@media (max-width: 680px) {
  .discount__container {
    padding: 0 20px;
  }
  .discount__wrap {
    border-radius: 20px;
  }
  .discount__wrap::before, .discount__wrap::after {
    display: none;
  }
  .discount__title {
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
  }
  .discount__form-input {
    height: 52px;
  }
  .discount__form-btn {
    padding: 15px 47px;
  }
}
.footer {
  padding: 250px 0 0 0;
}
.footer__wrap {
  margin: 0 auto;
  border-top: 1px solid #272727;
}
.footer-info {
  display: flex;
}
.footer-info__nav {
  display: flex;
  gap: 180px;
  padding: 60px 320px 0 60px;
  border-right: 1px solid #272727;
}
.footer-info__nav-item {
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  padding: 0 0 30px 0;
}
.footer-info__nav-link {
  line-height: 60px;
  color: #E2E2E2;
}
.footer-info__nav-link:hover {
  color: #33B7BC;
  transition: 0.2s ease-in;
}
.footer-info__contacts {
  padding: 60px 80px 0 60px;
}
.footer-info__contacts-tel {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  font-size: 38px;
  font-weight: 700;
  font-style: normal;
  padding: 0 0 20px 0;
}
.footer-info__contacts-telegram {
  position: relative;
  z-index: 2;
}
.footer-info__contacts-telegram:hover {
  opacity: 0.7;
}
.footer-info__contacts-telegram::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: -9px;
  left: -7px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #34AADF;
  z-index: -1;
}
.footer-info__contacts-whatsapp {
  position: relative;
  z-index: 2;
}
.footer-info__contacts-whatsapp:hover {
  opacity: 0.7;
}
.footer-info__contacts-whatsapp::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: -9px;
  left: -9px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #43D854;
  z-index: -1;
}
.footer-info__contacts-img {
  display: block;
  align-items: center;
}
.footer-info__btn {
  font-size: 15px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  padding: 20px 34px;
  border: 2px solid #33B7BC;
  border-radius: 8px;
  margin: 0 0 50px 0;
}
.footer-info__btn:hover {
  background-color: #33B7BC;
  transition: 0.25s ease-in;
}
.footer-info__text {
  max-width: 400px;
  margin: 0 0 70px 0;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
}
.footer-info__callback {
  border: 1px solid #414141;
  background: linear-gradient(90.75deg, #1C1C1C 0.65%, rgba(27, 27, 27, 0.4) 107.06%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 60px 0;
}
.footer-info__callback-input {
  padding: 0 0 0 38px;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
}
.footer-info__callback-btn {
  background-color: #33B7BC;
  padding: 30px 34px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  font-style: normal;
  border: 1px solid #33B7BC;
  border-radius: 10px;
}
.footer-info__callback-btn:hover {
  background-color: transparent;
  transition: 0.25s ease-in;
}
.footer-payment {
  padding: 45px 0;
  border: 1px solid #272727;
  display: flex;
  justify-content: space-around;
  align-items: center;
  filter: grayscale(100%);
}
.footer-policy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
.footer-policy__privacy {
  color: #33B7BC;
}
.footer-policy__copyright {
  color: #707070;
}
.footer-policy__social {
  display: flex;
  align-items: center;
  gap: 35px;
}
.footer-policy__social > a:hover {
  opacity: 0.7;
  transition: 0.2s ease-in;
}

@media (max-width: 1630px) {
  .footer-info__nav {
    gap: 110px;
    padding: 60px 190px 0 60px;
  }
  .footer-info__contacts-tel {
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    gap: 30px;
  }
}
@media (max-width: 1280px) {
  .footer-info {
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #272727;
  }
  .footer-info__nav {
    gap: 190px;
    padding: 60px 20px;
    border-right: none;
  }
  .footer-info__contacts {
    padding: 80px 80px 0 80px;
  }
  .footer-info__contacts-tel {
    font-size: 38px;
    font-weight: 700;
    font-style: normal;
    gap: 40px;
  }
  .footer-info__callback {
    width: 100%;
  }
  .footer-payment {
    display: none;
  }
  .footer-policy {
    padding: 25px 35px;
  }
  .footer-policy__social {
    gap: 20px;
  }
}
@media (max-width: 680px) {
  .footer {
    padding: 120px 0 0 0;
  }
  .footer-info__nav {
    display: none;
  }
  .footer-info__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px 0 20px;
    width: 100%;
  }
  .footer-info__contacts-tel {
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
    gap: 24px;
  }
  .footer-info__text {
    text-align: center;
    max-width: 100%;
  }
  .footer-info__btn {
    margin: 10px auto 50px auto;
  }
  .footer-info__callback-input {
    padding: 0 0 0 20px;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
  }
  .footer-info__callback-btn {
    padding: 20px 24px;
  }
  .footer-policy {
    flex-direction: column;
    gap: 30px;
  }
  .footer-policy__privacy {
    display: none;
  }
}
@media (max-width: 680px) {
  .mobile-menu__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    padding: 77px 35px 77px 35px;
    z-index: 9;
  }
  .mobile-menu__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    position: relative;
    margin: 0 0 50px 0;
  }
  .mobile-menu__btn-close {
    position: absolute;
    top: -50px;
    right: 10px;
  }
  .mobile-menu__btn-close::after {
    content: "×";
    display: block;
    font-size: 40px;
  }
  .mobile-menu__list {
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
  }
  .mobile-menu__item {
    padding: 0 0 10px 0;
  }
  .mobile-menu__itema:hover {
    color: #33B7BC;
  }
  .mobile-menu__info-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }
  .mobile-menu__info-item > ul > li {
    list-style-type: disc;
  }
  .mobile-menu__info-social {
    display: flex;
    gap: 30px;
  }
}/*# sourceMappingURL=style.css.map */