// Section Offers
.offers{
    text-align: center;
    padding: 0 0 260px 0;

    &__nav{
        margin: 0 0 50px 0;

        &-list{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 100px;
        }

        &-item-link{
            @include font(40px, 500);
            color: $darkGrey;

            &:hover{
                position: relative;
                color: $white;
                transition: 0.2s ease-in;
                z-index: 9;

                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    bottom: 4px;
                    border-bottom: 10px solid $turquoise;
                    transition: 0.2s ease-in;
                    transform: skew(-45deg); 
                    z-index: -1;
                }
            }
        }
    }

    &__pictures{
        // height: auto;
        margin: 0 0 80px 0;

        &-list{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        &-item{
            position: relative;
            max-width: 955px;

            &-img{
                width: 100%;
                border-radius: 10px;
                z-index: -1;
            }

            &-block{
                position: absolute;
                bottom: 50px;
                padding: 0 60px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                z-index: 9;
            }

            &_title{
                @include font(40px, 700);
            }

            &_link{
                text-transform: uppercase;
                border: 2px solid $turquoise;
                padding: 18px 26px;
                border-radius: 8px;
                @include font(16px, 500);

                &:hover{
                    background: $turquoise;
                    transition: 0.3s ease-in;
                }
            }
        }
    }

    &-more{
        background: $turquoise;
        border: 1px solid $turquoise;
        padding: 20px 106px;
        text-transform: uppercase;
        border-radius: 10px;
        @include font(18px, 700);

        &:hover{
            background: transparent;
            border: 1px solid $turquoise;
            transition: 0.3s ease-in;
        }
    }
}


// Tablet
@include tablet{
    .offers{
       
        &__nav{

            &-list{
                padding: 0 20px;
                gap: 60px;
            }

            &-item-link{
                @include font(32px, 500);
            }
        }

        &__pictures-item{

            &_title{
                @include font(32px, 700);
            }

            &-block{
                bottom: 30px;
                padding: 0 40px;
            }
        }
    }
}


// Mobile
@include mobile{
    .offers{

        &__nav{
            display: none;
        }

        &__pictures-item{

            &_title{
                @include font(26px, 700);
            }

            &-block{
                bottom: 10px;
                padding: 0 30px;
            }

            &_link{
                padding: 12px 20px;
            }
        }

        &-more{
            padding: 20px 80px;
        }
    }
}